



.left-top-item{
  text-align: right;
}

.st-task-attr-section{
  padding-left: 12px;    
}

.st-task-normal{
  font-size: 12px;  
}

.st-task-name{
  font-size: 15px;
  font: black bold;
  font-weight: 700;
}


